<footer class="site-footer">
  
  <p>© <span id="year">2022</span> | Thomas Sigwalt. All rights reserved.</p>
  <script> document.getElementById("year").innerHTML = new Date().getFullYear();</script>
</footer>